@model PROYECTO_ED_01.Models.Pacientes
{ ViewData["Title"] = "GEmulador"; }

<body>


    <header>
        <div class="textos">
            <h1 class="titulo">Simulador</h1>
        </div>
        <div class="sesgoabajo"></div>
    </header>
    <section class="cards contenedor">

        <div class="content-cards">
            <form asp-action="GuardarCant">
                <div class="form-group">
                    <label asp-for="EstadisticasGeneral.CantidadPersonas" class="control-label"></label>
                    <input asp-for="EstadisticasGeneral.CantidadPersonas" class="form-control" min="0" max="150" required placeholder="Cantidad de Pacientes para Vacunación" />
                    <span asp-validation-for="EstadisticasGeneral.CantidadPersonas" class="text-danger"></span>



                </div>
                <div class="form-group">
                    <input type="submit" value="Realizar Simulación" class="btn btn-primary" />
                </div>
</form>

        </div>
        <section class="cards contenedor">

            <div class="content-cards">


                <a asp-action="Index" class="btn btn-outline-dark btn-lg btn-block" role="button" style="color:cornflowerblue">Regresar</a>


            </div>
        </section>
    </section>




</body>

