@model PROYECTO_ED_01.Models.Pacientes

@{ ViewData["Title"] = "Emulador"; }

<body>


    <header>
        <div class="textos">
            <h1 class="titulo">Simulador</h1>
        </div>
        <div class="sesgoabajo"></div>
    </header>
    <section class="cards contenedor">

        <div class="content-cards">

            <form>

                <div class="form-group">

                    <label asp-for="CantPacientes" class="control-label"></label>
                    <input asp-for="CantPacientes" value="" min="0" max="150" required />
                    <span asp-validation-for="CantPacientes" class="text-danger"></span>

                    <a asp-action="Emulador" class="btn btn-outline-dark btn-lg btn-block" role="button" style="color:cornflowerblue">Realizar Simulación</a>

                </div>
            </form>


        </div>
        <section class="cards contenedor">

            <div class="content-cards">


                <a asp-action="Index" class="btn btn-outline-dark btn-lg btn-block" role="button" style="color:cornflowerblue">Regresar</a>


            </div>
        </section>
    </section>
   



</body>

