{ ViewData["Title"] = "GEmulador"; }

<body>


    <header class="GuiaFondo">
        <div class="textos">
            <h1 class="titulo">Como utilizar el emulador el emulador</h1>
        </div>
        <div class="sesgoabajo"></div>
    </header>

    <h2 style="text-align:center; color:cornflowerblue">Paso 1</h2>

    <h2 style="text-align:center">Ingresar al menú principal, opciones extra y seleccionar la siguiente opción:</h2>
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="text-center">
                <img src="~/Imagenes/GEmulador.jpg" alt="" width="800">
            </div>
        </div>
    </div>

    <h2 style="text-align:center; color:cornflowerblue">Paso 2</h2>

    <h2 style="text-align:center">Para Realizar la simulación debe realizar los pasos siguientes:</h2>
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="text-center">
                <img src="~/Imagenes/Simulador.jpg" alt="" width="800">
            </div>
        </div>
    </div>
    <h2 style="text-align:center"> 1) Ingresar la cantidad de pacientes que se desea anteder a la vez</h2>
    <h2 style="text-align:center"> 2) Presionar el boton de "Realizar simulación"</h2>



    <section class="cards contenedor">

        <div class="content-cards">


            <a asp-action="ManualGuia" class="btn btn-outline-dark btn-lg btn-block" role="button" style="color:cornflowerblue">Regresar</a>


        </div>
    </section>


</body>
