{ ViewData["Title"] = "GPersonasV"; }

<body>


    <header class="GuiaFondo">
        <div class="textos">
            <h1 class="titulo">Como ver las personas que están vacunadas</h1>
        </div>
        <div class="sesgoabajo"></div>
    </header>

    <h2 style="text-align:center; color:cornflowerblue">Paso 1</h2>

    <h2 style="text-align:center">Ingresar al menú principal, opciones extra y seleccionar la siguiente opción:</h2>
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="text-center">
                <img src="~/Imagenes/GPacientesV.jpg" alt="" width="800">
            </div>
        </div>
    </div>

    <h2 style="text-align:center; color:cornflowerblue">Paso 2</h2>

    <h2 style="text-align:center">Ingresar los datos solicitados:</h2>
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="text-center">
                <img src="~/Imagenes/GNuevoPDatos.jpg" alt="" width="800">
            </div>
        </div>
    </div>


    <section class="cards contenedor">

        <div class="content-cards">


            <a asp-action="ManualGuia" class="btn btn-outline-dark btn-lg btn-block" role="button" style="color:cornflowerblue">Regresar</a>


        </div>
    </section>


</body>
