@{ ViewData["Title"] = "ManualBibliografia"; }

<body>


    <header class="ManualFondo">
        <div class="textos">
            <h1 class="titulo">Bibliografía</h1>
        </div>
        <div class="sesgoabajo"></div>
    </header>



    <h2 style="text-align:center">Ministerio de Salud Pública y Asistencia Social. (2021, 5 marzo). Plan Nacional De Vacunación Contra La COVID-19. mspas. https://www.mspas.gob.gt/component/jdownloads/category/891-documento-plan-nacional-de-vacunación-contra-la-covid-19.html?Itemid=-1 </h2>



    <section class="cards contenedor">

        <div class="content-cards">


           


        </div>
        <section class="cards contenedor">

            <div class="content-cards">


                <a asp-action="ManualDeUsuario" class="btn btn-outline-dark btn-lg btn-block" role="button" style="color:cornflowerblue">Regresar</a>


            </div>
        </section>
    </section>

</body>