@{ ViewData["Title"] = "ManualCreditos"; }

<body>


    <header class="ManualFondo">
        <div class="textos">
            <h1 class="titulo">Créditos</h1>
        </div>
        <div class="sesgoabajo"></div>
    </header>

    <h1 style="text-align:center; color:cornflowerblue">Creadores del programa</h1>

    <h2 style="text-align:center">David André Rodríguez Cano - 1164619</h2>
    <h2 style="text-align:center">Diego Martín Calel Ixcotoy - 1168120</h2>


    <section class="cards contenedor">

        <div class="content-cards">


           


        </div>
        <section class="cards contenedor">

            <div class="content-cards">


                <a asp-action="ManualDeUsuario" class="btn btn-outline-dark btn-lg btn-block" role="button" style="color:cornflowerblue">Regresar</a>


            </div>
        </section>
    </section>


</body>
