@model PROYECTO_ED_01.Models.Pacientes

{ ViewData["Title"] = "GEmulador"; }

<body>


    <header>
        <div class="textos">
            <h1 class="titulo">Simulación</h1>
        </div>
        <div class="sesgoabajo"></div>
    </header>
    <section class="cards contenedor">

        <div class="content-cards">

            <dd class="col-sm-10">
                @Html.DisplayFor(Model => Model.EstadisticasGeneral.CantidadPersonas);
            </dd>


        </div>
        <section class="cards contenedor">

            <div class="content-cards">


                <a asp-action="Index" class="btn btn-outline-dark btn-lg btn-block" role="button" style="color:cornflowerblue">Regresar</a>


            </div>
        </section>
    </section>




</body>

